
body {
    margin: 0 auto;
}

#container {
    background: white;
}

#header{
    width:100vw;
    background:white;
    z-index: 999;
    height: 115px;
    position:relative;
}

#mega {
    width: 100vw;
    height: 320px;
    position:absolute;
    margin: 0 auto;
}

#mega .contents {
    width: 1804px;
    height: 320px;
    position: relative;
    margin: 0 auto;
    background: white;
    opacity: 0.95;
}

#mega .contents .inner {
    width: 1200px;
    height:290px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#mega .contents .inner .name {
    width: 180px;
    height: 200px;
    position: relative;
    margin-top: 30px;
}

#mega .contents .inner .name > .top{
    width: 74px;
    height: 18px;
    margin-left: 20px;
    position: absolute;
}

#mega .contents .inner .name > .bottom{
    width: 140px;
    height: 200px;
    position: absolute;
    left: 20px;
    top: 50px;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
}

#mega .contents .inner .name > .bottom > div {
    margin-top: 20px;
}

#mega .inner .name_03 {
    width: 300px;
    height: 200px;
    position: relative;
    margin-top: 30px;
}

#mega .inner .name_03 .top {
    width: 74px;
    height: 18px;
    margin-left: 20px;
    position: absolute;
}

#mega .inner .name_03 .bottom {
    width: 240px;
    height: 230px;
    position: absolute;
    left: 20px;
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-content: start;
    flex-wrap: wrap;
}

#mega .inner .name_03 .bottom >div {
    width: 100px;
    margin-top: 20px;
}


#header .inner {
    width: 1804px;
    height: 115px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


#header .inner .gnb {
    width: 510px;
    height:30px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#header .inner .gnb .product {
    width: 90px;
    height: 30px;
    background: url("../img/01/gnb/gnb_01.png") no-repeat;
}

#header .inner .gnb .product:hover {
    width: 90px;
    height: 30px;
    background: url("../img/01/gnb/green/gnb_01_gr.png") no-repeat;
}

#header .inner .gnb .about {
    width: 60px;
    height: 30px;
    background: url("../img/01/gnb/gnb_02.png") no-repeat;
}

#header .inner .gnb .about:hover {
    width: 60px;
    height: 30px;
    background: url("../img/01/gnb/green/gnb_02_gr.png") no-repeat;
}

#header .inner .gnb .support {
    width: 78px;
    height: 30px;
    background: url("../img/01/gnb/gnb_03.png") no-repeat;
}

#header .inner .gnb .support:hover {
    width: 78px;
    height: 30px;
    background: url("../img/01/gnb/green/gnb_03_gr.png") no-repeat;
}


#header .inner .gnb .store {
    width: 54px;
    height: 30px;
    background: url("../img/01/gnb/gnb_04.png") no-repeat;
}

#header .inner .gnb .store:hover {
    width: 54px;
    height: 30px;
    background: url("../img/01/gnb/green/gnb_04_gr.png") no-repeat;
}


#header .inner .right_menu {
    width: 200px;
    display: flex;
    justify-content: space-between;
}


#header .right_menu .login {
    width: 43px;
    height: 30px;
    background: url("../img/01/gnb/gnb_05.png") no-repeat;
}

#header .right_menu .login:hover {
    width: 43px;
    height: 30px;
    background: url("../img/01/gnb/green/gnb_05_gr.png") no-repeat;
}

#header .right_menu .join {
    width: 60px;
    height: 30px;
    background: url("../img/01/gnb/gnb_06.png") no-repeat;
}

#header .right_menu .join:hover {
    width: 60px;
    height: 30px;
    background: url("../img/01/gnb/green/gnb_06_gr.png") no-repeat;
}

#header .right_menu .search {
    width: 20px;
    height: 30px;
    position:relative;

}

#header .right_menu .search .search_field{
    position:absolute;
    left: -180px;
    top: 0;
    pointer-events: none;
    opacity:0;
    transform: translateX(30px);
    transition: all .5s;
}

#header .right_menu .search.on .search_field{
    opacity:1;
    transform: translateX(0);
    pointer-events: initial;
}

/*#header .right_menu .search:hover {*/
/*    width: 20px;*/
/*    height: 30px;*/
/*    background: url("../img/01/gnb/green/gnb_07_gr.png") no-repeat;*/
/*    margin-right: 100px;*/
/*}*/

#header .inner .logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#section01 {
    width: 100vw;
    height: 500px;
    background-color: white;
    position: relative;
}

#section01 .banner {
    width: 1920px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}

#section01 .banner .logo {
    width: 568px;
    height: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}


#section02 {
    width: 100vw;
    height: 2292px;
    position: relative;
}

#section02 .contents {
    width: 1920px;
    height: 2292px;
    position: relative;
    margin: 0 auto;
}

#section02 .contents .inner {
    position: relative;
}

#section02 .contents .inner .wrap {
    width: 1920px;
    height: 250px;
    position: relative;

}

#section02 .contents .inner .wrap .tap {
    width: 1140px;
    height: 20px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section02 .contents .inner .wrap .tap .tap_01 {
    width: 215px;
    height: 20px;
    background: url("../img/sub_03/02/tap/tap_01.png");
}

#section02 .contents .inner .wrap .tap .tap_01 :hover{
    background: url("../img/sub_03/02/tap/tap_06.png") no-repeat;
}

#section02 .contents .inner .wrap .tap .tap_02 {
    width: 110px;
    height: 20px;
    background: url("../img/sub_03/02/tap/tap_02.png");
}

#section02 .contents .inner .wrap .tap .tap_02 :hover{
    background: url("../img/sub_03/02/tap/tap_07.png") no-repeat;
}

#section02 .contents .inner .wrap .tap .tap_03 {
    width: 83px;
    height: 20px;
    background: url("../img/sub_03/02/tap/tap_03.png");
}

#section02 .contents .inner .wrap .tap .tap_03 :hover{
    background: url("../img/sub_03/02/tap/tap_08.png") no-repeat;
}

#section02 .contents .inner .wrap .tap .tap_04 {
    width: 113px;
    height: 20px;
    background: url("../img/sub_03/02/tap/tap_04.png");
}

#section02 .contents .inner .wrap .tap .tap_04 :hover{
    background: url("../img/sub_03/02/tap/tap_09.png") no-repeat;
}

#section02 .contents .inner .wrap .tap .tap_05 {
    width: 188px;
    height: 20px;
    background: url("../img/sub_03/02/tap/tap_05.png");
}

#section02 .contents .inner .wrap .tap .tap_05 :hover{
    background: url("../img/sub_03/02/tap/tap_10.png") no-repeat;
}







#section02 .contents .inner .wrap .line > div {
    width: 2px;
    height: 10px;
    background: #333232;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    display: flex;
    justify-content: space-between;
}

#section02 .contents .inner .visual {
    width: 1920px;
    height: 2044px;
    position: relative;
}

#section02 .contents .inner .visual .text {
    width: 604px;
    height: 100px;
    margin: 0 auto 100px;
}

#section02 .contents .inner .visual .inner {
    width: 1920px;
    height: 1604px;
    position: relative;
}

#section02 .contents .inner .visual .inner .part_01 {
    width: 1320px;
    height: 846px;
    position: relative;
    display: flex;
    justify-content: start;
    margin-bottom: 200px;
}

#section02 .contents .inner .visual .inner .part_01 .img01 {
    width: 640px;
    height: 837px;
    margin-left: 250px;
}

#section02 .contents .inner .visual .inner .part_01 .text {
    width: 542px;
    height: 846px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-left: 120px;
}

#section02 .contents .inner .visual .inner .part_01 .text .text_02{
    margin-top: 25px;
}


#section02 .contents .inner .visual .inner .part_01 .text .text_03{
    margin-top: 60px;
}


#section02 .contents .inner .visual .inner .part_02 {
    width: 1320px;
    height: 594px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#section02 .contents .inner .visual .inner .part_02 .text {
    width: 569px;
    height: 565px;
    position: relative;
}

#section02 .contents .inner .visual .inner .part_02 .text > div {
    margin-bottom: 45px;
}

#section02 .contents .inner .visual .inner .part_02 .text .text_04{
    margin-bottom: 65px;
}


#section02 .contents .inner .visual .inner .part_02 .img02 {
    width:619px;
    height: 587px;
    margin-left: 120px;
}


#section03 {
    width: 100vw;
    height: 658px;
    background: white;
}

#section03 .visual {
    width: 1600px;
    height: 658px;
    position: relative;
    margin: 0 auto;
}

#section03 .visual .btn {
    width: 106px;
    height: 106px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    background: url("../img/sub_03/03/btn.png");
}



#section04 {
    width: 100vw;
    height: 1490px;
}

#section04 .history {
    width: 1600px;
    height: 1090px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}

#section04 .history .inner {
    width: 1600px;
    height: 88px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#section04 .history .time {
    width: 1520px;
    height: 678px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section04 .history .time .number {
    width: 1428px;
    height: 87px;
    position: relative;
    display: flex;
    align-items: center;
}

#section04 .history .time .number .line {
    width: 1428px;
    height: 2px;
    background: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}

#section04 .history .time .number .circle {
    width: 1175px;
    height: 87px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0;
}

#section04 .history .time .number .circle >div {
    width: 92px;
    height: 86px;
}

#section04 .history .time .img {
    width:1520px;
    height: 508px;
    position: relative;
    display: flex;
    margin: 0 auto;
}

#section04 .history .img .visual {
    width: 1344px;
    height: 508px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#section04 .history .img .visual >div {
    width:204px;
}

#section04 .history .img .visual .prev_01 {
    position: absolute;
    left: 40px;
    top: 400px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section04 .history .btn {
    width: 160px;
    height: 50px;
    background: url("../img/sub_03/04/btn_01.png");
    position: absolute;
    bottom: -190px;
}

#section04 .history .btn:hover {
    background: url("../img/sub_03/04/btn_02.png");
}



#footer {
    background: #333232;
    display: flex;
    justify-content: center;
}






