

body {
    margin: 0 auto;
}

#header {
    height: 115px;
}

.header{
    width:100vw;
    background:white;
}

.header .inner{
    width: 1800px;
    height:115px;
    margin: 0 auto;
    background:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.inner .gnb {
    width: 510px;
    display: flex;
    justify-content: space-between;
}

.inner .right_menu {
    width: 210px;
    display: flex;
    justify-content: space-between;
}

.header .logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}





#top {
    width:100vw;
    background:white;
}

#top .container{
    width: 1600px;
    height: 842px;
    background: white;
    margin: 0 auto;
}

#top .container .top_gnb{
    width: 1600px;
    height: 71px;
}

#top .container .inner {
    width: 1600px;
    height: 754px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top .container .inner .main_img {
    width: 998px;
    height: 754px;
    background: blueviolet;
}

#top .container .inner .main_img .main {
    width: 348px;
    height: 630px;
    position: absolute;
    left: 300px;
    top: 0;
}

#top .container .inner .detail {
    width: 404px;
    height: 82px;
    position: absolute;
    left: 270px;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#top .container .inner .detail > div {
    border: 1px solid orange;
    width: 80px;
    height: 80px;
    position: relative;
}

#top .container .inner .detail .de_img_01 .img {
    width: 31px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}

#top .container .inner .detail .de_img_02 .img {
    width: 31px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}

#top .container .inner .detail .de_img_03 .img {
    width: 31px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}

#top .container .inner .detail .de_img_04 .img {
    width: 49px;
    height: 52px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}


#top .container .text_01 {
    width: 600px;
    height: 754px;
    background: hotpink;
    position: relative;
}

#top .container .text_01 .name {
    height:77px;
    background: orange;
    margin-top: 10px;
}

#top .container .text_01 .price {
    height: 65px;
    background: #007aff;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#top .container .text_02 {
    height:240px;
    background: tomato;
    position: relative;
}

#top .container .text_02 .line {
    height: 2px;
    background: black;
    position: absolute;
    top: 30px;
    left: 0;
}

#top .container .text_02 .text {
    height: 114px;
    position: absolute;
    left: 0;
    top: 75px;
}

#top .container .text_01 .select {
    height:322px;
    background: mediumspringgreen;
    position: relative;
}

#top .container .text_01 .select .bg {
    height: 178px;
}








#footer {
    display: flex;
    justify-content: center;
}



